{% extends 'vehicle_config/header.html' %}
{% block content %}

<form action="{% url 'createSetupParam' %}" method="post">
    {% csrf_token %}


        <div>
            <h3>Create Setup Parameter</h3>
            <label>name</label>
            <input type="text" name="name" required>
            <label>description</label>
            <input type="text" name="description">
            <label>parts</label>
            <input type="text" name="parts">
            <label>assemblies</label>
            <input type="text" name="assemblies">
            <label>value</label>
            <input type="text" name="value">
            <label>Submit</label>
            <button type="submit">Submit</button>
        </div>
    </form>

    {{ msg }}



{% endblock %}