{% extends 'vehicle_config/header.html' %}
{% block content %}

<div class="container-fluid py-2">
<form method="post">
    {% csrf_token %}
    <h1 class="m1">Create Part</h1>


        <div class = "container py-5">
        
            <div class="row">
                <div class="col-xl">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text mw">Name</span>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                </div>
                <div class="col-xl">
                  <div class="input-group input-group-lg mb-3">
                      <span class="input-group-text mw">Parent Assembly</span>
                      <input type="text" class="form-control" value="{{ parent_assembly.name }}" aria-label="Disabled input example" disabled readonly>
                  </div>
              </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text mwd">Description</span>
                        <textarea class="form-control" aria-label="With textarea" id="description" name="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <input class="btn btn-primary btn-lg mw" type="submit" value="Submit">
                </div>
            </div>
          </div>
        </form>
    </div>
    {% endblock %}