{% extends 'vehicle_config/header.html' %}
{% block content %}

<div class="container-fluid py-2">
<form action="{% url 'createAssembly' %}" method="post">
    {% csrf_token %}
        <h1 class="m1">Create Assembly</h1>

        <div class = "container py-5">
            <div class="row">
                <div class="col-xl">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text mw">Name</span>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text mw">Parts</span>
                        <input type="text" class="form-control" name="parts">
                    </div>
                </div>

                <div class="col-xl">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text mw">Assemblies</span>
                        <input type="text" class="form-control" name="assemblies">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text mwd">Description</span>
                        <textarea class="form-control" aria-label="With textarea" id="description" name="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <input class="btn btn-primary btn-lg mw" type="submit" value="Submit">
                </div>
            </div>
        </div>
        <h3 style="text-align:center"> {{ msg }} </h3>
    </form>
</div>


        <!-- <div>
            <h3>Create Assembly</h3>
            <label>name</label>
            <input type="text" name="name" required>
            <label>description</label>
            <input type="text" name="description">
            <label>parts</label>
            <input type="text" name="parts">
            <label>assemblies</label>
            <input type="text" name="assemblies">
            <label>Submit</label>
            <button type="submit">Submit</button>
        </div>
    </form>

    {{ msg }} -->



{% endblock %}