{% extends 'vehicle_config/header.html' %}
{% block content %}
<div class="container-fluid">

<form action="{% url 'createSetup' %}" method="post">
    {% csrf_token %}
    <h3>Create Setup</h3>

    <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text">Car</span>
                <input type="text" class="form-control" name="car">
              </div>
            <!-- <label>car</label>
            <input type="text" name="car"> -->
          </div>
          <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text">Setup Parameter</span>
                <input type="text" class="form-control" name="setup_params">
              </div>
            <!-- <label>setup_params</label>
            <input type="text" name="setup_params"> -->
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!-- <label>description</label>
            <input type="text" name="description" required> -->
            <div class="input-group">
                <span class="input-group-text">With textarea</span>
                <textarea class="form-control" aria-label="With textarea"></textarea>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <input class="btn btn-primary" type="submit" value="Submit">

            <!-- <label>Submit</label>
            <button type="submit">Submit</button> -->
        </div>
      </div>
    </div>

    </form>

    {{ msg }}

</div>

{% endblock %}