{% extends 'vehicle_config/header.html' %}
{% block content %}

<div class="container-fluid py-2">
    <h1 class="m1">Delete Confirmation Page</h1>

   
    <div class="centertwo">
        <div class="row"> <h2>Are you sure you want to delete this {{ obj }}?</h2></div>
        <div class="row"> <h2>{{ obj }} ID: {{ id }} </h2></div>
        <div class="row"> <h2>{{ obj }} Name: {{ name }} </h2></div>
        <div class="row mt-4">
        <form method="post">
            {% csrf_token %}
            

            <div class="row mt-3">
                <div class="col"> 
                    <input class="btn btn-outline-primary btn-lg mws" type="submit" value="Submit">
                            
                    <a href="www.google.com" onclick="window.history.go(-1); return false;">
                        <button type="button" class="btn btn-outline-primary btn-lg mws">Cancel</button>
                    </a>
                </div>

            </div>
            
           
        </form>
    </div>
        

    </div>

  
</div>

 


{% endblock %}