{% extends 'vehicle_config/header.html' %}
{% block content %}

<div class="container-fluid py-2">
    <h1 class="m1">Delete Confirmation Page</h1>

   
    <div class="centertwo">
        <div class="row"> <h2>Are you sure you want to delete this {{ obj }}?</h2></div>
        <div class="row"> <h2>{{ obj }} ID: {{ id }} </h2></div>
        <div class="row"> <h2>{{ obj }} Name: {{ name }} </h2></div>
        <div class="row">
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-primary btn-lg mw" type="submit" value="Yes">
            <input class="btn btn-primary btn-lg active mw" type=button value="No" onClick="javascript:history.go(-1);">
            
           
        </form>
    </div>
        

    </div>

  
</div>

 


{% endblock %}