{% extends 'vehicle_config/header.html' %}
{% block content %}

<div class="container-fluid py-2">
<form action="{% url 'editPart' pk=id %}" method="post">
    {% csrf_token %}
    <h1 class="m1">Edit Part</h1>

    

        <div class = "container py-5">
            <div class="row">
                <div class="col-xl">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text mw">Name</span>
                        <input type="text" class="form-control" name="name" required value= "{{ name }}">


                    </div>

                    

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text mwd">Description</span>
                        <textarea class="form-control" aria-label="With textarea" id="description" name="description">{{ description }}</textarea>
                    </div>
                </div>
            </div>
            <div class="row py-4">
                <div class="col">
                    <input class="btn btn-primary btn-lg mw" type="submit" value="Update">


                    <a href="{% url 'deletePart' pk=id %}" class="btn btn-primary btn-lg active mw" role="button" aria-pressed="true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>Delete</a>
                 
                    
                    


                </div>
                
                
            </div>
          </div>
          <h3 style="text-align:center"> {{ msg }} </h3>
        </form>




    </div>
    {% endblock %}