{% extends 'vehicle_config/header.html' %}
{% block content %}

<div class="container-fluid py-2">
<form method="post" autocomplete="off">

    {% csrf_token %}
    <h1 class="m1">Edit {{ obj }}</h1>

    

       
            <div class="row mt-4">
                <div class="col col-lg-8 col-12 offset-lg-2">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text mwgg">Name</span>
                        <input type="text" class="form-control" name="name" required value= "{{ name }}">
                    </div>
                </div>
                {% if isPart %}
                    <div class="col col-lg-8 col-12 offset-lg-2">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text mwgg">Part Number</span>
                            <input type="text" class="form-control" name="part_number" value= "{{ actual_obj.part_number }}">
                        </div>
                    </div>
                {% elif isSetupParam %}
                    <div class="col col-lg-4 offset-lg-2 col-12">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text mwgg">Value</span>
                            <input type="text" class="form-control" name="value" value= "{{ actual_obj.value }}">
                        </div>
                    </div>
                    <div class="col col-lg-4 col-12">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text mwgg">Units</span>
                            <label for="units" class="form-label"></label>
                            <input list="datalistOptions" type="text" class="form-control" id="units" name="units" value= "{{ actual_obj.units }}">
                            <datalist id="datalistOptions">
                                
                                <option value="cm">
                                <option value="m">
                                <option value="mm">
                                <option value="g">
                                <option value="kg">
                                <option value="N">
                                <option value="N &middot; m">
                                <option value="hp"> 
                                <option value="KW"> 
                                <option value="N">
                                <option value="&deg; C">
                                <option value="deg">
                                <option value="V">
                                <option value="A">
                                <option value="%">
                                <option value="None">
                                                  
                            </datalist>
                        </div>
                    </div>
                {% endif %}

                


            </div>

            <div class="row">
                <div class="col col-lg-8 col-12 offset-lg-2">
                    <div class="input-group input-group-lg">
                        <span class="input-group-text mwgg">Description</span>
                        <textarea class="form-control" aria-label="With textarea" id="description" name="description">{{ description }}</textarea>
                    </div>
                </div>
            </div>
            

        <div class="row mt-3">
            <div class="col offset-lg-2"> 
                <input class="btn btn-outline-primary btn-lg mws" type="submit" value="Submit">
                        
                <a href="www.mypage.com" onclick="window.history.go(-1); return false;">
                    <button type="button" class="btn btn-outline-primary btn-lg mws">Cancel</button>
                </a>
            </div>

        </div>
        
          
        </form>




    </div>
    {% endblock %}