{% extends 'vehicle_config/header.html' %}
{% block content %}

<div class="container-fluid">
<form method="post">
    {% csrf_token %}

    <div class="row">
        <h1 class="m1">View Vehicle</h1>
    </div>


    <div class="row mt-5">
        <div class="col col-sm-12 col-lg-4 offset-lg-2"> 
            <div class="card">
                <div class="card-header pb-0"><p>Name</p></div>
                <div class="card-body py-2">
                    <p class="card-text"> {{ name }}</p>
                </div> 
                
          </div>
        </div>

        <div class="col col-sm-11 col-lg-4"> 
            <div class="card">
                <div class="card-header pb-0"><p>Date Created</p></div>
                <div class="card-body py-2">
                    <p class="card-text"> {{ vehicle.date_created }}</p>
                </div> 
                
                
          </div>
        </div>

        <div class="col col-lg-1 col-sm-1"> 
            
                <a href="{% url 'edit' obj=obj pk=id %}" class="link-primary"><p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg></p></a>
            
            <a href="{% url 'delete' obj=obj pk=id %}" class="link-primary"><p><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg></p></a>
            
        </div>
    </div>
  
    <div class="row mt-1">
        <div class="col col-sm-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header pb-0"><p>Description</p></div>
                <div class="card-body py-2">
                    <p class="card-text"> {{ description }}</p>
                </div> 
                
            </div>
        </div>
    </div>

  
        <div class="row mt-5 py-0">
            <div class="col col-sm-12 col-lg-2 offset-lg-2">
                <div class="input-group input-group mb-3">
                    <span class="input-group-text mws"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg></span>
                    <input type="text" class="form-control" id="myInput" name="name" onkeyup="myFunction()" placeholder="Search for setups..">
                </div>
            </div>
    
            
         
            <div class="col offset-lg-1 col-lg-1 col-sm-12">
                <button type="button" class="btn btn-primary pb-0 float-end"> <a href="{% url 'createSetup' pk=id %}" class="link-light"><h6>Add</h6></a></button> 
            </div>

         
            <div class="col col-sm-12 col-lg-2">
                <div class="input-group input-group mb-3">
                    <span class="input-group-text mws"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg></span>
                    <input type="text" class="form-control" id="myInput2" name="name" onkeyup="myFunction2()" placeholder="Search for assemblies..">
                </div>
            </div>
        
                
             
        <div class="col offset-lg-1 col-lg-1 col-sm-12">
            <button type="button" class="btn btn-primary pb-0 float-end"> <a href="{% url 'createAssembly' pk=id pid=0 %}" class="link-light"><h6>Add</h6></a></button> 
        </div>

    </div>


    <div class="row mt-1">
    
        <div class="col col-sm-12 col-lg-4 offset-lg-2">
            <table class="table table-bordered table-hover" id="myTable">
                <thead>
                    <tr>
                        <th scope="col" style="width: 8%"><p>#</p></th>
                        <th scope="col" style="width: 60%"><p>Setups</p></th>
                        
                        
                    </tr>        
                </thead>
                <tbody>
                    {% for setup in setups %}
                        <tr>
                            <th scope="row"> <p> {{ forloop.counter }} </p> </th>
                             
                            <td><a href="{% url 'viewSetup' setup.id %}" class="link-primary"><p>{{ setup.name }}</p></a></td>
                    
                        </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>

        <div class="col col-sm-12 col-lg-4">
            <table class="table table-bordered table-hover" id="myTable2">
                <thead>
                    <tr>
                        <th scope="col" style="width: 8%"><p>#</p></th>
                        <th scope="col" style="width: 60%"><p>Assemblies</p></th>
                        
                    </tr>        
                </thead>
                <tbody>
                    {% for assembly in assemblies %}
                        <tr>
                            <th scope="row"> <p> {{ forloop.counter }} </p> </th> 
                            <td><a href="{% url 'viewAssembly' assembly.id %}" class="link-primary"><p>{{ assembly.name }}</p></a></td>
                    
                        </tr>
                    {% endfor %}
                </tbody> 
            </table>
        </div>

    </div>

    

</form>




</div>
{% endblock %}