{% extends 'vehicle_config/header.html' %}
{% block content %}

<div class="container-fluid py-2">
<form method="post" autocomplete="off">
    {% csrf_token %}
    <h1 class="m1">Setup: {{ setup.name }}</h1>
    

    <div class="row mt-4">
        <div class="col col-12 col-lg-4 offset-lg-2"> 
            <div class="card">
                <div class="card-header pb-0"><p>Parent Vehicle</p></div>
                <div class="card-body py-2">
                    <a href="{% url 'viewVehicle' setup.parent_vehicle.id %}" class="link-primary">
                        <p class="card-text"> {{ setup.parent_vehicle }}</p>
                    </a>
                </div>               
          </div>   
        </div>


        <div class="col col-10 col-lg-4"> 
            <div class="card">
                <div class="card-header pb-0"><p>Date Created</p></div>
                <div class="card-body py-2">
                    <p class="card-text"> {{ setup.date_created }}</p>
                </div>         
                
          </div>
        </div>

        <div class="col col-2 col-lg-1"> 
            
                <a href="{% url 'edit' obj=obj pk=id %}" class="link-primary"><p> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg></p></a>
            
            <a href="{% url 'delete' obj=obj pk=id %}" class="link-primary"><p><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg></p></a>
            
        </div>
    </div>
 
    <div class="row mt-1">
        <div class="col col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-header pb-0"><p>Description</p></div>
                <div class="card-body py-2">
                    <p class="card-text"> {{ setup.description }}</p>
                </div> 
                
            </div>
        </div>
    </div>


    <div class="row mt-4 py-0">
        <div class="col col-10 col-lg-2 offset-lg-2">
            <div class="input-group input-group mb-3">
                <span class="input-group-text mws"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg></span>
                <input type="text" class="form-control" id="search" name="name" placeholder="Search for setup parameters..">
            </div>
        </div>

        
     
        <div class="col offset-lg-5 col-lg-1 col-2">
            <a href="{% url 'createSetupParam' pk=id %}" class="link-light"><button type="button" class="btn btn-outline-primary mws pb-0 float-end"> <h6>Add</h6></button> </a>
        </div>
    </div>
    

    <div class="row mt-1">
        <div class="col col-sm-12 col-lg-8 offset-lg-2">

            <div id="table-wrapper">
                <div id="table-scroll">
                    <table class="table table-bordered table-hover" id="table">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 5%"><p>#</p></th>  
                                <th scope="col" style="width: 50%"><p>Setup: SPECIFY TYPE OF SETUP</p></th>
                                
                            </tr>
                        </thead>
                        <tbody>     
                            {% for setupParam in setup_params %}
                                <tr>
                                    <th scope="row"> <p>{{ forloop.counter }} </p></th>
                                    
                                    <td>
                                        <a href="{% url 'viewSetupParam' setupParam.id %}" class="link-primary"><p>{{ setupParam.name }}</p></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        
                        </tbody>
                    </table>

                </div>
            </div>

            
        </div>
    </div>
            


</form>




</div>
{% endblock %}