
body{ padding-top: 70px; }

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("/static/images/f1_car.jpg") no-repeat;

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  
  color: white;
  font-weight: bold;

  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

textarea {
  width: 300px;
  height: 300px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #800000 !important;
}



span {
  display: inline-block;
}

.mw{ background-color:#800000; color:#fff; width:175px; display: inline-block; }


.mwd{ background-color:#800000; color:#fff; width:175px; display: inline-block; line-height: 250px; }

.m1 { text-align:center; color:#800000 }

.input-append .btn.dropdown-toggle {
  float: none;
}

.mwtt{ background-color:#800000; color:#fff; width:250px; display: inline-block; }


.center {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px; 
  margin-top: -25px; 
}

.centertwo {
  font-weight: bold;

  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
 
}

.parent-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.card-header{
  background-color:#800000; color:#fff;
}

.mws{ background-color:#800000; color:#fff; }

.mwgg{ background-color:#800000; color:#fff; width: 150%;}

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:340px;
  overflow:auto;  
  
}
#table-wrapper table {
  width:100%;

}

#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  
}

div.example {

}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 12px;
  }
}