body, html {
    height: 100%;
  }



.body_home {

 
    background-image: url(../images/f1_car.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
    
}
